/* .output_canvas{
  position: absolute; 
  left: 0px; 
  top: 0px;
} */

#navbar{
  background-color: #333333;
  align-items: start;
  display: flex;
}

#gesture-display{
  max-lines: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.App-body {
  background-color: #edf7ff;
  min-height: 90vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}


.background-transition {
  /* height: 100vh; */
  background: linear-gradient(-135deg, #b3e7ff, #edf7ff, #707070);
  background-size: 300% 300%;
  animation: bg-gradient-animation 15s linear infinite;
}

@keyframes bg-gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}